<a href="https://colab.research.google.com/github/joosomi/BigDataStudy/blob/main/%EA%B8%B0%EC%B6%9C_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2022 5회
- 작업형 1, 2

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 10.62 MiB/s, done.
Resolving deltas: 100% (321/321), done.

In [ ]:
import pandas as pd
df = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/501_trash_bag.csv", encoding="euc-kr")

print(df.head())

   시도명 시군구명       종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
0  강원도  강릉시     규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...   130
1  강원도  강릉시  재사용규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...     0
2  강원도  고성군     규격봉투  소각용   생활쓰레기  가정용     0       0     0       0  ...   140
3  강원도  고성군     규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
4  강원도  고성군   특수규격마대  매립용   생활쓰레기  가정용     0       0     0       0  ...     0

   10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0    270    520      0   1250      0   1880       0       0       0
1    270    520      0      0      0      0       0       0       0
2    260    500      0   1220      0      0    2410       0       0
3      0      0      0      0      0      0       0       0       0
4      0      0      0   1540      0      0       0       0       0

[5 rows x 21 columns]

In [ ]:
print(df['용도'].unique())
print(df['사용대상'].unique())

['생활쓰레기' '음식물쓰레기']
['기타' '가정용' '사업장용' '영업용' '영업장용' '범용']

In [ ]:
df_ans = df[(df['용도']=='음식물쓰레기')&(df['사용대상'] =='가정용')]
print(df_ans.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
8   강원도  삼척시  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...    80
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
16  강원도  영월군  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...   110

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
8     150    290      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
16    180    350      0    900      0   1350       0       0       0

[5 rows x 21 columns]

In [ ]:
filter = df_ans[df_ans['2L가격'] !=0]
print(int(filter['2L가격'].mean()))

119

######

In [ ]:
import pandas as pd

df2 = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/502_bmi.csv")
print(df2.head())

   Gender  Height  Weight
0    Male     174      96
1    Male     189      87
2  Female     185     110
3  Female     195     104
4    Male     149      61

In [ ]:
df2["Height_m"] = df2["Height"]/100
df2["BMI"] = df2["Weight"]/(df2["Height_m"]**2)
print(df2.head())

   Gender  Height  Weight  Height_m        BMI
0    Male     174      96      1.74  31.708284
1    Male     189      87      1.89  24.355421
2  Female     185     110      1.85  32.140248
3  Female     195     104      1.95  27.350427
4    Male     149      61      1.49  27.476240

In [ ]:
normal = len(df2[(18.5 <= df2['BMI']) & (df2['BMI']< 23)])
over = len(df2[(23 <= df2['BMI']) & (df2['BMI']< 25)])

print(normal - over)

28

####

In [ ]:
import pandas as pd

df3 = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/503_students.csv", encoding='euc-kr')
print(df3.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수
0  A   1       9       1      222
1  A   2      13       4      148
2  A   3       8       7      196
3  B   1       7       5      171
4  B   2       9       1      216

In [ ]:
df3['순전입학생수'] = df3['총 전입학생'] - df3['총 전출학생']

print(df3.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순전입학생수
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1
3  B   1       7       5      171       2
4  B   2       9       1      216       8

In [ ]:
df_group = df3.groupby(['학교'])['순전입학생수', '전체 학생 수'].sum()
print(df_group)

    순전입학생수  전체 학생 수
학교
A       18      566
B       13      588
C       -9      528
D        7      548
E       14      603
F        1      481
G       10      618
H       -1      602

<ipython-input-47-23c465a95d28>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_group = df3.groupby(['학교'])['순전입학생수', '전체 학생 수'].sum()

In [ ]:
df_sort = df_group.sort_values("순전입학생수", ascending = False)
print(df_sort)

    순전입학생수  전체 학생 수
학교
A       18      566
E       14      603
B       13      588
G       10      618
D        7      548
F        1      481
H       -1      602
C       -9      528

#######

In [ ]:
import pandas as pd

X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_x_train.csv")
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_x_test.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/504_y_train.csv")

In [ ]:
print(X_train.head())

   id model  year transmission  mileage fuelType  tax   mpg  engineSize
0   1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1   2   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2   3    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3   4    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4   5    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0

In [ ]:
print(X_test.head())

     id model  year transmission  mileage fuelType  tax   mpg  engineSize
0  7469    A4  2020    Semi-Auto     4000   Diesel  145  54.3         3.0
1  7470    A6  2016       Manual    31300   Diesel   30  61.4         2.0
2  7471    Q5  2019    Semi-Auto    11296   Diesel  150  38.2         2.0
3  7472    A1  2018       Manual     6500   Petrol  145  55.4         1.4
4  7473    A3  2016       Manual    31524   Petrol   30  60.1         1.4

In [ ]:
print(y_train.head())

   id  price
0   1  21350
1   2  69691
2   3  42950
3   4  31470
4   5  27495

In [ ]:
#데이터 전처리

print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB
None

In [ ]:
print(X_train.isnull().sum())

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
print(X_test.isnull().sum())

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [ ]:
print(y_train.isnull().sum())

id       0
price    0
dtype: int64

In [ ]:
#불필요한 변수 / 수치형 변수/ 범주형 변수/ 종속 변수 price

col_del = ['id']
col_num = ['year', 'mileage', 'mpg', 'engineSize']
col_cat = ['model', 'transmission', 'fuelType']
col_y = ['price']

In [ ]:
#검증형 데이터 분리
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[col_num + col_cat],
                                            y_train[col_y].values.ravel(),
                                            test_size = 0.3)

In [ ]:
print(y_tr)

[22750 19490  6800 ... 22782 56990 17298]

In [ ]:
#수치형 변수 - 데이터 스케일링
import sklearn
dir(sklearn.preprocessing)

['Binarizer',
 'FunctionTransformer',
 'KBinsDiscretizer',
 'KernelCenterer',
 'LabelBinarizer',
 'LabelEncoder',
 'MaxAbsScaler',
 'MinMaxScaler',
 'MultiLabelBinarizer',
 'Normalizer',
 'OneHotEncoder',
 'OrdinalEncoder',
 'PolynomialFeatures',
 'PowerTransformer',
 'QuantileTransformer',
 'RobustScaler',
 'SplineTransformer',
 'StandardScaler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_csr_polynomial_expansion',
 '_data',
 '_discretization',
 '_encoders',
 '_function_transformer',
 '_label',
 '_polynomial',
 'add_dummy_feature',
 'binarize',
 'label_binarize',
 'maxabs_scale',
 'minmax_scale',
 'normalize',
 'power_transform',
 'quantile_transform',
 'robust_scale',
 'scale']

In [ ]:
from sklearn.preprocessing import StandardScaler
#데이터 표준화
scaler = StandardScaler()
scaler.fit(X_tr[col_num])

# help(sklearn.preprocessing.StandardScaler)

X_tr[col_num] = scaler.transform(X_tr[col_num])
X_test[col_num] = scaler.transform(X_test[col_num])
X_val[col_num] = scaler.transform(X_val[col_num])

In [ ]:
#범주형 변수 - 인코딩

from sklearn.preprocessing import LabelEncoder

X_tr[col_cat] = X_tr[col_cat].apply(LabelEncoder().fit_transform)
X_val[col_cat] = X_val[col_cat].apply(LabelEncoder().fit_transform)
X_test[col_cat] = X_test[col_cat].apply(LabelEncoder().fit_transform)

In [ ]:
# help(sklearn.preprocessing.LabelEncoder)

In [ ]:
print(X_tr.head())

          year   mileage       mpg  engineSize  model  transmission  fuelType
4192 -0.030409  0.351348  0.606302    0.131849      8             0         0
6820 -0.030409  1.129276  0.024969    0.131849      9             2         0
4786 -1.878616  1.580137  1.799972   -0.545974      0             1         0
5727 -1.878616  0.260321 -0.114551   -0.207062      3             1         2
900  -2.340668  3.016432 -0.998177    1.826408     11             0         0

In [ ]:
#랜덤포레스트

from sklearn.ensemble import RandomForestRegressor

model1 = RandomForestRegressor(random_state =123, n_estimators =100, max_depth=10)
model1.fit(X_tr, y_tr)

RandomForestRegressor(max_depth=10, random_state=123)

In [ ]:
#모형 평가
pred = model1.predict(X_val)
pred

array([25118.67652413, 26169.84523604, 32233.39119266, ...,
       23129.1464518 , 25796.54414705, 12994.81078694])

In [ ]:
#rmse 사용

from sklearn.metrics import mean_squared_error

In [ ]:
# dir(sklearn)

In [ ]:
import numpy as np

answer = np.sqrt(mean_squared_error(y_val, pred))

print(answer)

3310.4379706733575

In [ ]:
from sklearn.linear_model import LinearRegression
model2 = LinearRegression()
model2.fit(X_tr, y_tr)
pred2 = model2.predict(X_val)
pred2

array([26750.95278585, 27927.96479708, 34430.78073793, ...,
       29327.08893365, 26166.07854752, 19041.40380693])

In [ ]:
# answer2 = np.sqrt(mean_squared_error(y_val, pred2))

5629.946941379967

In [ ]:
ans = model1.predict(X_test[col_num + col_cat])
result = pd.DataFrame({'id':X_test.id, 'price':  ans})
print(result.head())

     id         price
0  7469  30493.406346
1  7470  17238.860257
2  7471  32052.296532
3  7472  15733.794199
4  7473  12298.501838

In [ ]:
result.to_csv('0003.csv', index=False)

In [ ]:
print(pd.read_csv('0003.csv').head())

     id         price
0  7469  30493.406346
1  7470  17238.860257
2  7471  32052.296532
3  7472  15733.794199
4  7473  12298.501838

2022.4회
작업형 1

In [ ]:
lst = [2,3,3.2,5,7.5,10,11.8,12,23,25,31.5,34]

In [ ]:
import pandas as pd
import numpy as np

np.quantile(lst, 0.25)

4.55

In [ ]:
np.quantile(lst, 0.75)

23.5

In [ ]:
int(abs(np.quantile(lst, 0.25) - np.quantile(lst, 0.75)))

18

In [ ]:
##2.
import pandas as pd

df4 = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/402_facebook.csv")
print(df4.head())

                          status_id status_type  num_reactions  num_comments  \
0  246675545449582_1649696485147474       video            529           512
1  246675545449582_1649426988507757       photo            150             0
2  246675545449582_1648730588577397       video            227           236
3  246675545449582_1648576705259452       photo            111             0
4  246675545449582_1645700502213739       photo            213             0

   num_shares  num_likes  num_loves  num_wows  num_hahas  num_sads  num_angrys
0         262        432         92         3          1         1           0
1           0        150          0         0          0         0           0
2          57        204         21         1          1         0           0
3           0        111          0         0          0         0           0
4           0        204          9         0          0         0           0

In [ ]:
num_positive = df4['num_loves'] + df4['num_wows']
num_positive

0       95
1        0
2       22
3        0
4        9
        ..
7045     0
7046     1
7047     1
7048     2
7049     0
Length: 7050, dtype: int64

In [ ]:
df4['num_rate'] = num_positive / df4['num_reactions']

In [ ]:
len(df4[(df4['num_rate'] < 0.5) & (df4['num_rate'] > 0.4) & (df4['status_type'] =='video')])

90

#####

In [ ]:
import pandas as pd

df5 = pd.read_csv("/content/yemoonsaBigdata/datasets/Part3/403_netflix.csv")
df5.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
df_date = df5[df5['date_added'].str.contains("January")&df5['date_added'].str.contains('2018')]
print(df_date.head())

     show_id     type                                              title  \
5055   s5056    Movie                               Expedition Happiness
5056   s5057    Movie  Jerry Seinfeld: I'm Telling You for the Last Time
5057   s5058  TV Show                                        Retribution
5058   s5059    Movie                                         Holy Camp!
5059   s5060    Movie                        A Futile and Stupid Gesture

                           director  \
5055                   Selima Taibi
5056                  Marty Callner
5057                            NaN
5058  Javier Ambrossi, Javier Calvo
5059                     David Wain

                                                   cast         country  \
5055                         Selima Taibi, Felix Starck         Germany
5056                                     Jerry Seinfeld   United States
5057  Georgina Campbell, Joe Dempsie, Adrian Edmonds...  United Kingdom
5058  Macarena García, Anna Castillo, Belén Cuesta, ...           Spain
5059  Will Forte, Domhnall Gleeson, Martin Mull, Joe...   United States

            date_added  release_year rating  duration  \
5055  January 31, 2018          2017  TV-PG    96 min
5056  January 30, 2018          1998  TV-14    69 min
5057  January 30, 2018          2016  TV-MA  1 Season
5058  January 29, 2018          2017  TV-MA   108 min
5059  January 26, 2018          2018  TV-MA   102 min

                                              listed_in  \
5055                Documentaries, International Movies
5056                                    Stand-Up Comedy
5057  British TV Shows, Crime TV Shows, Internationa...
5058             Comedies, Dramas, Faith & Spirituality
5059                                           Comedies

                                            description
5055  A filmmaker and his musician girlfriend attemp...
5056  Months after his classic TV sitcom ends, the l...
5057  A dark web of secrets and lies emerges when a ...
5058  In this musical comedy, two rebellious teen gi...
5059  In a brief life full of triumph and failure, "...

In [ ]:
len(df_date[df_date['country'] =='United Kingdom'])

6

####작업형2

In [176]:
import pandas as pd
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_y_train.csv")

In [177]:
#고객이 속한 Segmentation을 예측하고 해당 예측 결과를 csv 파일로 제출하시오
#제출한 예측값의 macro_f1 결과를 통해 영역별 배점에 따라 최종 점수가 반영될 예정

print(X_train.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0

  Spending_Score  Family_Size
0            Low          4.0
1            Low          1.0
2           High          2.0
3        Average          2.0
4            Low          3.0

In [178]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6718 non-null   int64
 1   Gender           6718 non-null   object
 2   Ever_Married     6718 non-null   object
 3   Age              6718 non-null   int64
 4   Graduated        6718 non-null   object
 5   Profession       6718 non-null   object
 6   Work_Experience  6718 non-null   float64
 7   Spending_Score   6718 non-null   object
 8   Family_Size      6718 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 472.5+ KB
None

In [ ]:
print(X_test.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer              0.0
1  458994    Male          Yes   37       Yes  Healthcare              8.0
2  459000    Male          Yes   59        No   Executive             11.0
3  459003    Male          Yes   47       Yes      Doctor              0.0
4  459005    Male          Yes   61       Yes      Doctor              5.0

  Spending_Score  Family_Size
0            Low          1.0
1        Average          4.0
2           High          2.0
3           High          5.0
4            Low          3.0

In [ ]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2178 entries, 0 to 2177
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2178 non-null   int64
 1   Gender           2178 non-null   object
 2   Ever_Married     2178 non-null   object
 3   Age              2178 non-null   int64
 4   Graduated        2178 non-null   object
 5   Profession       2178 non-null   object
 6   Work_Experience  2178 non-null   float64
 7   Spending_Score   2178 non-null   object
 8   Family_Size      2178 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 153.3+ KB
None

In [ ]:
print(y_train.head())

       ID Segmentation
0  462809            D
1  466315            B
2  461735            B
3  461319            C
4  460156            C

In [ ]:
X_train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [ ]:
X_test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [ ]:
y_train.isnull().sum()

ID              0
Segmentation    0
dtype: int64

In [179]:
col_cat = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score']

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

X_train[col_cat] = X_train[col_cat].apply(label.fit_transform)
X_test[col_cat] = X_test[col_cat].apply(label.fit_transform)
print(X_train.head())

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  462809       1             0   22          0           5              1.0
1  466315       0             1   67          1           2              1.0
2  461735       1             1   67          1           7              0.0
3  461319       1             1   56          0           0              0.0
4  460156       1             0   32          1           5              1.0

   Spending_Score  Family_Size
0               2          4.0
1               2          1.0
2               1          2.0
3               0          2.0
4               2          3.0

In [180]:
print(X_test.head())

       ID  Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0  458989       0             1   36          1           2              0.0
1  458994       1             1   37          1           5              8.0
2  459000       1             1   59          0           4             11.0
3  459003       1             1   47          1           1              0.0
4  459005       1             1   61          1           1              5.0

   Spending_Score  Family_Size
0               2          1.0
1               0          4.0
2               1          2.0
3               1          5.0
4               2          3.0

In [181]:
# help(sklearn.preprocessing.StandardScaler)
col_num = ['Age', 'Family_Size', 'Work_Experience']
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train[col_num])

X_train[col_num] = scaler.transform(X_train[col_num])
X_test[col_num] = scaler.transform(X_test[col_num])

In [182]:
print(X_train.head())

       ID  Gender  Ever_Married       Age  Graduated  Profession  \
0  462809       1             0 -1.303562          0           5
1  466315       0             1  1.421748          1           2
2  461735       1             1  1.421748          1           7
3  461319       1             1  0.755561          0           0
4  460156       1             0 -0.697937          1           5

   Work_Experience  Spending_Score  Family_Size
0        -0.478692               2     0.760391
1        -0.478692               2    -1.209140
2        -0.772431               1    -0.552630
3        -0.772431               0    -0.552630
4        -0.478692               2     0.103881

In [192]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3, stratify = y_train['Segmentation'].values.ravel() )

In [254]:
# X_tr = X_tr.drop('ID', axis=1)
X_val = X_val.drop('ID', axis=1)

In [255]:
#모형 학습
from sklearn.ensemble import RandomForestClassifier
model1= RandomForestClassifier(random_state = 123)
# help(sklearn.ensemble.RandomForestClassifier)
model1.fit(X_tr, y_tr['Segmentation'])

pred = model1.predict(X_val)
pred

array(['B', 'A', 'D', ..., 'A', 'D', 'A'], dtype=object)

In [256]:
#답안 제출
import sklearn
# dir(sklearn.metrics)
print(y_val)

          ID Segmentation
4685  465524            C
1564  467190            B
3687  461679            D
4607  462236            C
1468  460983            D
...      ...          ...
2103  464827            D
2967  461304            C
4703  460803            D
3570  465250            D
1143  462321            A

[2016 rows x 2 columns]

In [257]:
from sklearn.metrics import f1_score
# help(sklearn.metrics.f1_score)

print(pred)
score = f1_score(y_val["Segmentation"], pred, average='macro')
score

['B' 'A' 'D' ... 'A' 'D' 'A']

0.46537308856673587

In [225]:
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression()
model2.fit(X_tr, y_tr['Segmentation'])

pred2 = model2.predict(X_val)
pred2

array(['D', 'D', 'D', ..., 'D', 'D', 'D'], dtype=object)

In [226]:
score2 = f1_score(y_val['Segmentation'], pred2, average='macro')
score2

0.1043956043956044

In [261]:
#답안 제출
print(X_test)
ans = model1.predict(X_test)
ans

      Gender  Ever_Married       Age  Graduated  Profession  Work_Experience  \
0          0             1 -0.455688          1           2        -0.772431
1          1             1 -0.395125          1           5         1.577479
2          1             1  0.937248          0           4         2.458695
3          1             1  0.210499          1           1        -0.772431
4          1             1  1.058373          1           1         0.696263
...      ...           ...       ...        ...         ...              ...
2173       0             0 -0.516250          1           3        -0.478692
2174       1             0 -0.879625          0           5         1.871218
2175       0             0 -0.516250          1           1        -0.478692
2176       1             1  0.210499          1           4        -0.478692
2177       0             0 -0.031751          1           5         1.871218

      Spending_Score  Family_Size
0                  2    -1.209140
1                  0     0.760391
2                  1    -0.552630
3                  1     1.416901
4                  2     0.103881
...              ...          ...
2173               2    -0.552630
2174               2     0.760391
2175               2    -1.209140
2176               1     1.416901
2177               2     0.103881

[2178 rows x 8 columns]

array(['A', 'C', 'C', ..., 'B', 'C', 'D'], dtype=object)

In [265]:
ID = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_x_test.csv")['ID']
print(ans)

['A' 'C' 'C' ... 'B' 'C' 'D']

In [266]:
answer= pd.DataFrame({
    'ID': ID,
    'Segmentation': ans,
})

print(answer.head())

       ID Segmentation
0  458989            A
1  458994            C
2  459000            C
3  459003            C
4  459005            A

In [267]:
answer.to_csv("0003.csv", index=False)

In [268]:
pd.read_csv("0003.csv").head()

       ID Segmentation
0  458989            A
1  458994            C
2  459000            C
3  459003            C
4  459005            A